@keyframes fade-in {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-12px, 0, 0);
        transform: translate3d(-12px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.animate {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
    animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
}


/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}

.delay {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay-200 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.delay-400 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.delay-500 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-600 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.delay-700 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.delay-800 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}